// few constants
$WALL_COLOR: #666;
$BG_COLOR: #fff;
$TEXT_COLOR: #000;
$BORDER: 1px solid #000;
$HOVER_COLOR: #8685853d;

html{
    height: 100%;
    box-sizing: content-box;
}

body {
    box-sizing: content-box;
    background-color: $WALL_COLOR;

    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
}

///////////////////////////////////
.content {
    background-color: $BG_COLOR;
    margin: 0 auto;
    margin-top: 50px;
    padding: 12px;
    width: 621px;
    height: 457px;
}

.wrapper {
    display: flex;
    flex-direction: column;

    border: $BORDER;
    width: 600px;
    height: 435px;
    //text-align: center;
}

///////// SEARCH ROW /////////////////////////
.search {
    .search-input {
        width: 100%;
        height: 45px;
        padding: 11px 0 13px 16px;
        border-bottom: $BORDER;

        background-color: transparent;
        background: url(../img/search.svg) no-repeat right;
        transition: background-color 0.2s;
        &.error{
            background-color: rgba(219, 65, 65, 0.322);
        }
    }
}

///////// TWO CONTENT - BLOCKS /////////////////////////
.blocks {
    box-sizing: content-box;
    display: flex;
    height: 100%;
}

///////// WEATHER - BLOCK /////////////////////////
.weather {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

//////// TABS //////////////////////////////////////

.tab {
    height: 100%;
    display: none;
    .grad::after{
        content: "°";
    }
}

.tab-now {
    &.active {
        display: flex;
    }
    flex-direction: column;
    .temperature {
        margin: 20px;
        height: 95px;

        font-size: 70px;
        line-height: 82px;
    }

    .img-wrap{
        align-self: center;
    }
    .weather-img {
        display: inline-block;
        object-fit: cover;
        width: 150px;
        height: 150px;
        filter: drop-shadow( 0px 0px 3px rgba(0, 0, 0, .7));
    }

    .bottom {
        margin-top: auto;
        min-height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        span {
            margin: 0 0 17px 12px;
        }
        
        .like-btn {
            padding: 0;
            margin: 0 26px 23px 0;
            
            display: inline-block;
            width: 25px;
            height: 25px;

            background: url(../img/like.svg) no-repeat center;
            &:hover {
                background: url(../img/like_active.svg) no-repeat center;
            }
            &.active {
                background: url(../img/like_active.svg) no-repeat center;
                &:hover{
                    background: url(../img/like.svg) no-repeat center;
                }
            }
            
        }
    }
}

.tab-details {
    &.active{
        display: flex;
        flex-direction: column;
    }
    
    text-align: left;
    .location-name {
        margin: 33px 0 42px 17px;
    }
    .details-list {
        margin-left: 15px;
        line-height: 28px;
    }
}

.tab-forecast {
    &.active{
        display: flex;
    }
    padding: 33px 16px 0 14px;
    flex-direction: column;
    //height: 100%;
    max-height: 345px;
    overflow-y: auto;
    .location-name{
    }
    .time-block{
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 9px;
        padding: 6px 12px 13px 10px;
        border: $BORDER;
        width: 265px;
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .time-block_bot, .time-block_top{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .time-block-weather{
        text-align: center;
    }
    .time-weather-img{
        margin: -10px;
        width: 40px;
        height: 40px;

        filter: drop-shadow( 0px 0px 2px rgba(0, 0, 0, .7));
    }
}

/////// NAVIGATION /////////////////////////////////
.tab-nav {
    //height: 45px;
    display: flex;
    justify-self: flex-end;
    button {
        border-top: $BORDER;
        display: inline-block;
        width: 100%;
        background-color: #fff;

        vertical-align: middle;
        font-size: 18px;
        line-height: 21px;
        text-decoration: none;
        color: $TEXT_COLOR;
        height: 41px;

        border-right: $BORDER;
        &:last-child{
            border-right: none;
        }
        &:hover{
            background-color: $HOVER_COLOR;
        }
    }
    .active {
        color: #fff;
        background-color: #000;
        &:hover{
            background-color: #000;
        }
    }
}

/////// LOCATIONS - BLOCK ////////////////////////

.locations {
    width: 50%;
    text-align: left;
    border-left: $BORDER;
    .block-name {
        padding: 33px 0 7px 18px;
        border-bottom: $BORDER;
    }

    .locations-list {
        margin: 35px 18px 0 18px;
        height: 100%;
        max-height: 250px;
        overflow: auto;

        li{
            display: flex;
            justify-content: space-between;
            .liked-location {
                background: transparent;
                margin: 0;
                padding: 0;
                text-align: left;
                width: 100%;
            }
            .delete-location{
                vertical-align: middle;
                width: 27px;
                height: 27px;
                background: url(../img/cross.svg) no-repeat center;
                &:hover{
                    background-color: $HOVER_COLOR;
                }
            }
            &:hover{
                background-color: $HOVER_COLOR;
            }
        }
    }
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #BD8CF3;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}